:root {
  --grass: linear-gradient(
      178.92deg,
      #7ec6c5 0.92%,
      #abdac6 47.96%,
      #cae099 99.08%
    )
    border-box;
  --grass-text: #416460;

  --fire: linear-gradient(
      176.37deg,
      #f96d6f -32.26%,
      #e35825 22.55%,
      #e8ae1b 125.72%
    )
    border-box;
  --fire-text: #e75c35;

  --water: linear-gradient(
      179.57deg,
      #133258 -70.14%,
      #1479fb 56.16%,
      #82b2f1 214.85%
    )
    border-box;
  --water-text: #1479fb;

  --bug: linear-gradient(
      177.56deg,
      #62db60 -58.92%,
      #3bb039 16.57%,
      #aaffa8 209.53%
    )
    border-box;
  --bug-text: #4ab648;

  --normal: linear-gradient(
      181.51deg,
      #735259 -6.44%,
      #bc6b7c 121.95%,
      #7c3f4c 186.11%
    )
    border-box;
  --normal-text: #735259;

  --poison: linear-gradient(
      177.03deg,
      #5b3184 -11.97%,
      #a564e3 71.28%,
      #ce9bff 135.64%
    )
    border-box;
  --poison-text: #5b3184;

  --electric: linear-gradient(
      179.75deg,
      #0c1395 -19.96%,
      #2b319b 43.67%,
      #7075d9 138.4%
    )
    border-box;
  --electric-text: #0c1395;

  --ground: linear-gradient(
      179.75deg,
      #654008 -19.96%,
      #895c1a 43.67%,
      #d69638 138.4%
    )
    border-box;
  --ground-text: #654008;

  --fairy: linear-gradient(
      179.75deg,
      #971b45 -19.96%,
      #c23867 43.67%,
      #cd7d98 138.4%
    )
    border-box;
  --fairy-text: #971b45;

  --fighting: linear-gradient(
      176.83deg,
      #96402a -8.78%,
      #f1613c 169.09%,
      #cb735d 242.33%
    )
    border-box;
  --fighting-text: #96402a;

  --psychic: linear-gradient(
      176.83deg,
      #fcd676 -2.25%,
      #e6901e 133.18%,
      #e6a044 133.18%
    )
    border-box;
  --psychic-text: #e6901e;

  --rock: linear-gradient(
      177.03deg,
      #7e7e7e -11.97%,
      #8d8d94 57.49%,
      #d3d3d3 135.64%
    )
    border-box;
  --rock-text: #7e7e7e;

  --ghost: linear-gradient(
      177.03deg,
      #323569 -11.97%,
      #454aa8 57.49%,
      #787dda 135.64%
    )
    border-box;
  --ghost-text: #323569;

  --ice: linear-gradient(
      177.03deg,
      #6fbedf -11.97%,
      #64cbf5 47.77%,
      #bdebfe 136.72%
    )
    border-box;
  --ice-text: #6fbedf;

  --dragon: linear-gradient(
      179.75deg,
      #478a93 -19.96%,
      #56a4ae 43.67%,
      #a2bec1 138.4%
    )
    border-box;
  --dragon-text: #478a93;

  --dark: linear-gradient(
      177.03deg,
      #030706 -11.97%,
      #0d1211 57.49%,
      #5a5e5d 135.64%
    )
    border-box;
  --dark-text: #030706;

  --steel: linear-gradient(
      179.75deg,
      #5e736c -19.96%,
      #728881 43.67%,
      #a8a8a8 138.4%
    )
    border-box;
  --steel-text: #5e736c;

  --flying: linear-gradient(
      181.51deg,
      #735259 -6.44%,
      #bc6b7c 121.95%,
      #7c3f4c 186.11%
    )
    border-box;
  --flying-text: #735259;
}

/* classes condicionales para fondo y border */

.br-grass {
  background: var(--grass);
  color: var(--grass-text);
}
.bg-grass {
  background: var(--grass);
}
.btn__grass {
  background: var(--grass-text);
  color: white;
}
.text__grass {
  color: var(--grass-text);
}

.br-fire {
  background: var(--fire);
  color: var(--fire-text);
}
.bg-fire {
  background: var(--fire);
}
.btn__fire {
  background: var(--fire-text);
  color: white;
}
.text__fire {
  color: var(--fire-text);
}

.br-water {
  background: var(--water);
  color: var(--water-text);
}
.bg-water {
  background: var(--water);
}
.btn__water {
  background: var(--water-text);
  color: white;
}
.text__water {
  color: var(--water-text);
}

.br-bug {
  background: var(--bug);
  color: var(--bug-text);
}
.bg-bug {
  background: var(--bug);
}
.btn__bug {
  background: var(--bug-text);
  color: white;
}
.text__bug {
  color: var(--bug-text);
}

.br-normal {
  background: var(--normal);
  color: var(--normal-text);
}
.bg-normal {
  background: var(--normal);
}
.btn__normal {
  background: var(--normal-text);
  color: white;
}
.text__normal {
  color: var(--normal-text);
}

.br-poison {
  background: var(--poison);
  color: var(--poison-text);
}
.bg-poison {
  background: var(--poison);
}
.btn__poison {
  background: var(--poison-text);
  color: white;
}
.text__poison {
  color: var(--poison-text);
}

.br-electric {
  background: var(--electric);
  color: var(--electric-text);
}
.bg-electric {
  background: var(--electric);
}
.btn__electric {
  background: var(--electric-text);
  color: white;
}
.text__electric {
  color: var(--electric-text);
}

.br-ground {
  background: var(--ground);
  color: var(--ground-text);
}
.bg-ground {
  background: var(--ground);
}
.btn__ground {
  background: var(--ground-text);
  color: white;
}
.text__ground {
  color: var(--ground-text);
}

.br-fairy {
  background: var(--fairy);
  color: var(--fairy-text);
}
.bg-fairy {
  background: var(--fairy);
}
.btn__fairy {
  background: var(--fairy-text);
  color: white;
}
.text__fairy {
  color: var(--fairy-text);
}

.br-fighting {
  background: var(--fighting);
  color: var(--fighting-text);
}
.bg-fighting {
  background: var(--fighting);
}
.btn__fighting {
  background: var(--fighting-text);
  color: white;
}
.text__fighting {
  color: var(--fighting-text);
}

.br-psychic {
  background: var(--psychic);
  color: var(--psychic-text);
}
.bg-psychic {
  background: var(--psychic);
}
.btn__psychic {
  background: var(--psychic-text);
  color: white;
}
.text__psychic {
  color: var(--psychic-text);
}

.br-rock {
  background: var(--rock);
  color: var(--rock-text);
}
.bg-rock {
  background: var(--rock);
}
.btn__rock {
  background: var(--rock-text);
  color: white;
}
.text__rock {
  color: var(--rock-text);
}

.br-ghost {
  background: var(--ghost);
  color: var(--ghost-text);
}
.bg-ghost {
  background: var(--ghost);
}
.btn__ghost {
  background: var(--ghost-text);
  color: white;
}
.text__ghost {
  color: var(--ghost-text);
}

.br-ice {
  background: var(--ice);
  color: var(--ice-text);
}
.bg-ice {
  background: var(--ice);
}
.btn__ice {
  background: var(--ice-text);
  color: white;
}
.text__ice {
  color: var(--ice-text);
}

.br-dragon {
  background: var(--dragon);
  color: var(--dragon-text);
}
.bg-dragon {
  background: var(--dragon);
}
.btn__dragon {
  background: var(--dragon-text);
  color: white;
}
.text__dragon {
  color: var(--dragon-text);
}

.br-dark {
  background: var(--dark);
  color: var(--dark-text);
}
.bg-dark {
  background: var(--dark);
}
.btn__dark {
  background: var(--dark-text);
  color: white;
}
.text__dark {
  color: var(--dark-text);
}

.br-steel {
  background: var(--steel);
  color: var(--steel-text);
}
.bg-steel {
  background: var(--steel);
}
.btn__steel {
  background: var(--steel-text);
  color: white;
}
.text__steel {
  color: var(--steel-text);
}

.br-flying {
  background: var(--flying);
  color: var(--flying-text);
}
.bg-flying {
  background: var(--flying);
}
.btn__flying {
  background: var(--flying-text);
  color: white;
}
.text__flying {
  color: var(--flying-text);
}

/*FIN  classes condicionales para fondo y border y texto*/

.pokecard__info-container {
  background-color: white;
}
.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}
.pokecard {
  width: 250px;
  margin: 10px 20px;
  border-radius: 5px;
  border: 5px solid transparent;
}

.pokecard__header {
  width: 100%;
  text-align: center;
  height: 130px;
}

.pokecard__img {
  width: 162px;
  position: relative;
  bottom: -20px;
  cursor: pointer;
  transition: transform 200ms ease;
}

.pokecard__img:hover {
  transform: scale(1.3);
  transition: transform 200ms ease;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.pokecard__body {
  position: relative;
  text-align: center;
  height: 100px;
  top: 50px;
}

.pokecard__name {
  cursor: pointer;
}
.pokecard__type {
  padding: 10px 0px;
  margin: auto;
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.351);
}
.pokecard__type li {
  display: inline-block;
}
.pokecard__type li:nth-child(2)::before {
  content: " | ";
}

.pokecard__footer {
  padding: 10px;
}

.pokecard__stat {
  margin-top: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.pokecard__stat li {
  list-style: none;
  line-height: 20px;
  font-size: 15px;
  margin: 5px 15px;
  font-weight: 700;
}

.pokecard__stat li h4 {
  font-size: 11px;
  font-weight: 500;
}
